@import "@src/fonts/fonts.css";
@import "@src/UIKit/Cards/styleCards/cards.css";
@import "@src/UIKit/ColorsAndType/StyleCAT/styleCAT.css";
@import "@src/UIKit/FormElements/StyleFormElenents/styleFormElements.css";
.flex {
    display: flex;

}
.Upp {
    text-transform: uppercase;
}
.jconbetween {
    justify-content: space-between;
}
.jconaround {
    justify-content: space-around;
}
.alignLeft {
    text-align: left;
}
.alignRight {
    text-align: right;
}

.container {
    padding-top: 62px;
    max-width: 1920px;
    width: 80%;
    min-width: 320px;
    margin: 0 auto;
}
h1 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    line-height: 29px;
}
h2 {
    font-size: 19px;
    font-weight: bold;
    line-height: 23px;
}
h3 {
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
}
body {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}