@import "@src/fonts/fonts.css";
@import "@src/UIKit/Cards/styleCards/cards.css";
@import "@src/UIKit/ColorsAndType/StyleCAT/styleCAT.css";
.flex {
    display: flex;
}
.alignLeft {
    text-align: left;
}
.alignRight {
    text-align: right;
}
.metalampLogo {
    display: block;
    width: 48px;
    height: 48px;
    margin-top: 30px;
    margin-left: 30px;
    border: solid 3px red;
}
.container {
    padding-top: 0;
    max-width: 1920px;
    width: 80%;
    min-width: 320px;
    margin: 0 auto;
}
h1 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
h2 {
    font-size: 19px;
    font-weight: bold;
}
h3 {
    font-size: 12px;
    font-weight: bold;
}
body {
    font-weight: normal;
    font-size: 14px;
}