/////////////////
//Mixins

////////////////
.metalampLogo
    .container.flex
        .column.columnLeft
            .block.flex.jconbetween
                h3.bold.Upp Text Field
                h3.regularText.Upp Default
            input(class="defTextField" type="e-mail", value="E-MAIL")

