/////////////////
//Mixins

////////////////
.metalampLogo
.container.flex
    .column.columnLeft
        .block.flex.jconbetween
            h3.bold.Upp Text Field
            h3.regularText.Upp.darkShade50 Default
        input(class="defTextField darkShade25" type="e-mail", value="Email")
        .block.flex.jconbetween
            h3.bold.Upp Text Field
            h3.regularText.Upp.darkShade50 Hover / Focus
        input(class="defTextField darkShade75" type="e-mail", value="This is pretty awesome")
        .block
            h3.bold.Upp Dropdown
        .dropdown
            input(class="defTextField darkShade25", type="text", value="Сколько гостей")
            .expendMore
        .block.flex.jconbetween
            h3.bold.Upp masked text field
        input(class="defTextField darkShade25" type="text", value="ДД.ММ.ГГГГ")
        .block.flex.jconbetween
            .block
                h3.bold.Upp date Dropdown
                .dropdown
                    input(class="defTextField dateDropdown darkShade25", type="text", value="ДД.ММ.ГГГГ")
                    .expendMore
            .block
                h3.bold.Upp date Dropdown
                .dropdown
                    input(class="defTextField dateDropdown darkShade25", type="text", value="19.08.2019")
                    .expendMore
        .block
            h3.bold.Upp filter date dropdown
        .dropdown
            input(class="defTextField filterDateDropdown darkShade25", type="text", value="19 авг - 23 авг")
            .expendMore
        .block
            h3.bold.Upp subscription text field
        .dropdownArrowForward
            input(class="defTextField sub darkShade25", type="e-mail", value="Email")
            .arrowForward
        .block.flex.jconbetween.middleWidth
            h3.bold.Upp dropdown
            h3.regularText.Upp.darkShade50 Default
        .dropdown
            input(class="defTextField middleWidth darkShade25", type="text", value="2 спальни, 2 кровати...")
            .expendMore
        .block.flex.jconbetween.middleWidth
            h3.bold.Upp dropdown
            h3.regularText.Upp.darkShade50 expanded
        .dropdown
            input(class="defTextField dropdown-expanded middleWidth darkShade25", type="text", value="2 спальни, 2 кровати...")
            .expendMore.expendMore-expanded
        .dropdownMenu
            .dropdownMenuItem.flex.jconbetween
                h3.bold.Upp спальни
                .counter.flex.jconaround
                    .minusBtn
                    h3 2
                    .plusBtn
            .dropdownMenuItem.flex.jconbetween
                h3.bold.Upp кровати
                .counter.flex.jconaround
                    .minusBtn
                    h3 2
                    .plusBtn
            .dropdownMenuItem.flex.jconbetween
                h3.bold.Upp ванные комнаты
                .counter.flex.jconaround
                    .minusBtn
                    h3 2
                    .plusBtn
        .flex
            .expandableCheckboxList

                h3.bold.Upp expandable checkbox list
            .expendMore
        .flex
            .expandableCheckboxList
                h3.bold.Upp expandable checkbox list
            .expendMore.expendMore-expanded
        .expandableCheckboxListItems
            .flex.mt10
                .expandableCheckboxListItemsItemCheckbox
                .expandableCheckboxListItemsItem
                    p.darkShade50 Завтрак
            .flex.mt10
                .expandableCheckboxListItemsItemCheckboxChecked
                .expandableCheckboxListItemsItem
                    p.darkShade50 Письменный стол
            .flex.mt10
                .expandableCheckboxListItemsItemCheckboxChecked
                .expandableCheckboxListItemsItem
                    p.darkShade50 Стул для кормления
            .flex.mt10
                .expandableCheckboxListItemsItemCheckboxChecked
                .expandableCheckboxListItemsItem
                    p.darkShade50 Кроватка
            .flex.mt10
                .expandableCheckboxListItemsItemCheckbox
                .expandableCheckboxListItemsItem
                    p.darkShade50 Телевизор
            .flex.mt10
                .expandableCheckboxListItemsItemCheckbox
                .expandableCheckboxListItemsItem
                    p.darkShade50 Шампунь
            .preferences
                .flex.preferencesItem
                    .emotionIcon
                    .prefItem
                        p.bold.darkShade75 Комфорт
                        p.darkShade75 Шумопоглощающие стены
                hr
                .flex.preferencesItem
                    .locCityIcon
                    .prefItem
                        p.bold.darkShade75 Удобство
                        p.darkShade75 Окно в каждой из спален
